<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    
    <f:event type="preRenderView" listener="#{comptesBancaireMbean.refresh()}"/>
    <h:head>
        <title>
            <h1>Tp Compte Bancaire</h1>
        </title>
     
    </h:head>
    <h:body>
        <h:form>
        <h:commandButton action="#{comptesBancaireMbean.CreeCompteTest()}" value="creerCompteTest"/>
        </h:form>
        <p:dataTable value="#{comptesBancaireMbean.allUsers()}" var="user">
            
            <p:column sortBy="#{user.id}">
                <f:facet name="header">
                    <h:outputText value="Id"/>
                </f:facet>
                <h:outputText value="#{user.id}"/>
            </p:column>        
        <p:column >
                <f:facet name="header">
                    <h:outputText value="nom"/>
                </f:facet>
                <h:outputText value="#{user.nom}"/>
            </p:column>
            <p:column>
                <f:facet name="header">
                    <h:outputText value="solde"/>
                </f:facet>
                <h:outputText value="#{user.solde}"/>
            </p:column>
      
        </p:dataTable>
        
        <h:form>
            ID Emetteur:<h:inputText value="#{comptesBancaireMbean.idEmetteur}"/>
            ID Recepteur:<h:inputText value="#{comptesBancaireMbean.idRecepteur}"/>
            Montant:<h:inputText value="#{comptesBancaireMbean.montant}"/>
            <h:commandButton action="#{comptesBancaireMbean.transferer()}" value="transferer"/>
            
        </h:form>
        
        <h:form>
            
            nom:<h:inputText value="#{comptesBancaireMbean.nom}"/>
            solde:<h:inputText value="#{comptesBancaireMbean.solde}"/>
            <h:commandButton action="#{comptesBancaireMbean.create()}" value="creer"/>
            
        </h:form>
    </h:body>
    
</html>

